<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circle Gradient Example</title>
  <link rel="stylesheet" href="circle-gradient.css" />
  <script defer type="application/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      const loader = document.querySelector('.loader')

      loader.addEventListener("mouseenter", function () {
        loader.classList.toggle('paused')
      })
    })
  </script>
</head>

<body>
  <div class="container">
    <div class="loader"></div>
    <div class="inner">
      <audio class="scale" src="#" controls>
    </div>
  </div>
</body>

</html>