body {
  display: grid;
  place-content: center;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating input { 
  display: none;
}

.rating > label {
  position: relative;
  font-size: 15vw;
}

.rating > label:hover ~ label,
.rating > label:hover,
.rating > input:checked ~ label {
  color:gold;
}

.rating:hover > input:checked ~ label {
  font-weight: bold;
}