.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating__star {
  position: absolute;
  left:-100vw;
  font-size: 1px;
}

.rating input {
  position: absolute;
  left: -100vw;
}

.rating label {
  width:1.23em;
  font-size: 15vw;
}

.rating label:hover ~ label,
.rating label:hover,
.rating input:checked ~ label {
  color:gold;
}

.rating:hover input:checked ~ label{
  opacity: 0.5;
}