body {
  display: grid;
  place-content: center;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating input,
.rating__star {
  position: absolute;
  left:-100vw;
}

.rating label {
  font-size: 15vw;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color:gold;
}


.rating:hover input:checked ~ label {
  opacity: 0.4;
}

/* div + p: selects the p that immediately comes after div (sibling, not child) */
/* div ~ p: selects all p tags that come after a div */