:root {
  --gradient: linear-gradient(45deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  --bg-color: #fff;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.paused{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused; 
  animation-play-state:paused;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background:var(--gradient);
  /* filter: blur(4px); */
  cursor: pointer;
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


 .loader::before {
  content:"";
  position: absolute;
  inset: 4px;
  background-color: var(--bg-color);
  border-radius: 50%;
  z-index: 2;
}

.loader::after {
  content:"";
  position: absolute;
  inset: 0px;
  background:var(--gradient);
  border-radius: 50%;
  z-index: 1;
  filter: blur(10px);
}

.container {
  position: relative;
}
.inner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: whitesmoke;
}