<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dialog Element</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
  </head>
  <body>
    <dialog class="dialog">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo
        aperiam tempore excepturi corporis quas sed nam, itaque sunt ratione
        tempora optio sequi voluptate impedit, pariatur obcaecati omnis
        similique mollitia, fuga error. Ipsa adipisci reiciendis architecto
        rerum voluptatem sint necessitatibus ipsam omnis harum voluptas vero, id
        odio? Cumque aspernatur atque ex cupiditate assumenda excepturi
        inventore. Quibusdam asperiores atque reiciendis voluptatibus?
      </p>
      <button class="close">Close</button>
    </dialog>
    <button class="open">Open</button>
  </body>
</html>
